* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    font-family: Inter;
}

a {
    text-decoration: none;
}

.content {
    width: 92%;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    display: flex;
}