@import "./styles/common";
@import "./styles/header";
@import "./styles/profile";
@import "./styles/startpage";
@import "./styles/preloader";
@import "./styles/repositories";
@import "./styles/repoitem";

@media screen and (max-width: 930px) {
    main {
        flex-direction: column;
        
        .profile-section {
            align-items: center;
            width: 100%;
            
            .profile-followers {
                justify-content: flex-start;
            }

        }
        .repos-section {
            width: 100%;
            height: 500px;
        }
    }
}